:root{
    --amber-light: #FFF8E1;
    --amber-800: #FF8F00;
    --gray:#FAFAFA;
}

body{
    font-family: 'Encode Sans Condensed', sans-serif;
    background-color: #FFF8E1;
}


h1{
    color:var(--amber-800);
    font-family: 'Encode Sans Condensed', sans-serif;
}

h2{
    font-family: 'Encode Sans Condensed', sans-serif;
    color: #000000;
}

.header


p{
    font-size: 25px;
    font-family: 'La Belle Aurore', cursive;
}

.d-flex{
    background-color: var(--gray);
}

.btn{
    border: none;
}

.row{
    margin-left: 1px;
    margin-right: 1px;
}

.nav-link{
    color:#000000;
}

.nav-link:hover{
    color:var(--amber-800);
}

.contactBtn{
    background-color: var(--amber-light);
    width: 300px;
}

.contactBtn:hover{
    background-color: var(--amber-800);
}

.fa-moon{
    float: right;
    color: var(--amber-800);
}

.fa-moon:hover{
    cursor: pointer;
}
