:root{
    --amber-light: #FFF8E1;
    --amber-800: #FF8F00;
    --amber-dark: #b68443;
    --gray:#FAFAFA;
    --opacity:#fafafa3c;

    /* Dark mode colors */
    --bodyBg: #000000;
    --fontColorDark:#EEEEEE;
    --backgroundDivs:#424242;
    --socialBtn:#BDBDBD;
}

body{
    font-family: 'Encode Sans Condensed', sans-serif;
    background-color: #FFF8E1;
}


h1{
    color:var(--amber-800);
    font-family: 'Encode Sans Condensed', sans-serif;
}

h2{
    font-family: 'Encode Sans Condensed', sans-serif;
    color: #000000;
}


p{
    font-size: 25px;
    font-family: 'La Belle Aurore', cursive;
}

.mainDiv{
    margin-top: 100px;
}

.d-flex{
    background-color: var(--gray);
}

.btn{
    border: none;
    background-color: var(--amber-800);
    color: var(--amber-light);
}

.btn:hover{
    background-color: var(--amber-dark);
}

.row{
    margin-left: 1px;
    margin-right: 1px;
}
/* navigation style */
.nav-link{
    color:#000000;
}

.nav-link:hover{
    color:var(--amber-800);
}

.nav-link:visited{
    color:var(--bodyBg);
}


.contactBtn{
    background-color: var(--amber-light);
    width: 300px;
    color: var(--bodyBg);
}

.contactBtn:hover{
    background-color: var(--amber-800);
}

.fa-moon{
    float: right;
    color: var(--amber-800);
}

.fa-moon:hover{
    cursor: pointer;
}

.fa-sun:hover{
    cursor: pointer;
}



/* Dark Mode Style */

body.dark{
    background-color: var(--bodyBg);
    color: var(--fontColorDark);
}

body.dark .container .header{
    background-color: var(--backgroundDivs);
}
body.dark .container .header .navContainer{
    background-color: var(--backgroundDivs);
    color: var(--fontColorDark);
}
body.dark .container .header .navContainer .nav-link{
    color: var(--fontColorDark);
}

body.dark .container .mainDiv{
    background-color: var(--backgroundDivs);
}

body.dark .container .mainDiv .textContainer{
    background-color: var(--backgroundDivs);
}
body.dark .container .mainDiv h2{
    color: var(--fontColorDark);
}

body.dark .container .mainDiv .socialMediaContainer{
    background-color: var(--backgroundDivs)
}
body.dark .container .mainDiv img{
    opacity: 0.8;
    filter: grayscale();
}

body.dark .container .secondContainer{
    background-color: var(--backgroundDivs);
}

body.dark .container .header .DmBtnContainer {
    display: flex;
    justify-content: flex-end;
}

/* Navigation toggler menu */

body.dark .container .header .navContainer{
    background-color: var(--backgroundDivs);
}

/* Project section dark mode */

body.dark .container .secondContainer .pureJSProjects .pureJSProjectCards .card .card-body .card-text{
    color: var(--amber-light);
}

body.dark .container .secondContainer .pureJSProjects .pureJSProjectCards .card{
    background-color: var(--backgroundDivs);
}

body.dark .container .secondContainer .pureJSProjects .pureJSProjectCards .card .card-body .btnCard{
    color: var(--fontColorDark);
    background-color: var(--bodyBg);
}
body.dark .container .secondContainer .pureJSProjects .pureJSProjectCards .card .card-body .btnCard:hover{
    background-color: var(--amber-800);
}

body.dark .projects-text{
    color: var(--amber-800);
}

body.dark .carousel-dark .carousel-indicators [data-bs-target] {
    background-color: var(--amber-800)
}

/* Contact section dark mode */
body.dark .container .aboutMe .aboutMeDiv{
    background-color: var(--backgroundDivs);
}

body.dark .container .aboutMe .aboutMeDiv .textContainer{
    background-color: var(--backgroundDivs);
}

body.dark .container .aboutMe .aboutMeDiv .textContainer .socialMediaContainer{
    background-color: var(--backgroundDivs);
}

body.dark .portfolio-img{
    opacity: 0.8;
    filter: grayscale();
}

body.dark .h1-responsive{
    color: var(--amber-800);
}

/* Contact buttons dark mode */
body.dark .contactBtn{
    color: var(--fontColorDark);
    background-color: var(--bodyBg);
}

body.dark .contactBtn:hover{
    color: var(--fontColorDark);
    background-color: var(--amber-800);
}

.text-center> .btn{
    width: 100px;
}

.secondContainer{
    justify-content: center;
    text-align: center;
    align-items: center;
}

.pureJSProjects{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(0, 255, 255, 0);
}

.pureJSProjectCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    align-items: center;
    background-color: rgba(0, 255, 255, 0);
    padding-bottom: 50px;
}

.pureJStitle{
    margin-top: 50px;
    margin-bottom: 50px;
}

.card-text{
    font-family: 'Encode Sans Condensed', sans-serif;
    color: #000000;
    font-size:medium;
}

.card{
    height: 25rem;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
}

.mainContainerAboutMe{
    display: flex;

}

.text-about-me{
    font-family: 'Encode Sans Condensed', sans-serif;
}

.job-text{
    margin-top: 10px;
}

.aboutMe{
    display: flex;
    justify-content: center
}

.contactForm{
    justify-content: center;
}

.imgContainerAboutMe {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}





